/* 
 * 
 * $Buttons
 *
**/

.button {
  position: relative;
  display: inline-block;
  min-width: 146px;
  padding: $ms-5 $ms1 $ms-4 $ms-2;
  margin-bottom: 0;
  @include font-body;
  @include type-small;
  color: $brand3;
  font-weight: $fw-bold;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  outline: 0;
  border: 1px solid $brand3;
  border-right: 0;
  background-color: transparent;
  overflow: visible;
  cursor: pointer;
  @include border-radius(0);
  @include transition();

  @include breakpoint(bp3) {
    padding: $ms-6 $ms1 $ms-5 $ms-2;

    &:hover {
      text-decoration: none;
      @include transition();

      span {
        right: -28px;
        @include transition();
      }
    }
  }

  &:active,
  &:focus {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  span {
    position: absolute;
    top: 50%;
    right: -22px;
    transform: translateY(-50%);
    display: block;
    content: "";
    width: 40px;
    height: 20px;
    color: $brand3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url(#{$base-image-url}/svgs/arrow-btn-right-gold.svg);
    @include transition();
  }

  em {
    font-style: normal;
    font-weight: $fw-regular;
  }

  &:before,
  &:after {
    position: absolute;
    display: block;
    right: 0;
    content: "";
    width: 1px;
    height: 10px;
  }

  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
}

.button--reverse {
  border-right: 1px solid $brand3;
  border-left: 0;

  span {
    left: -22px;
    right: auto;
    background-image: url(#{$base-image-url}/svgs/arrow-btn-left-gold.svg);
  }

  &:before,
  &:after {
    right: auto;
    left: 0;
  }

  @include breakpoint(bp3) {
    padding-right: $ms-2;
    padding-left: $ms1;

    &:hover {
      span {
        right: auto;
        left: -28px;
      }
    }
  }
}

.button--large {
  @include breakpoint(bp1) {
    margin-right: $ms3;
  }
  @include breakpoint(bp2) {
    padding: $ms-2 $ms3 $ms-2 $ms-2;
    border-width: 2px;
    @include type-xlarge;

    &:hover {
      span {
        right: -60px;
      }
    }

    span {
      width: 100px;
      right: -50px;
      background-image: url(#{$base-image-url}/svgs/arrow-btn-right-gold-large.svg);
    }

    &:before,
    &:after {
      width: 2px;
      height: 20px;
    }
  }
}

.button--submit {
  @extend .button;
  @extend .button--gold;
  padding-right: $ms-2;
  border-right: 1px solid $brand3;

  @include breakpoint(bp3) {
    padding-right: $ms-2;
  }
}

// Colours
.button--blue {
  &:before,
  &:after {
    background-color: $brand4;
  }
}

.button--gold {
  &:before,
  &:after {
    background-color: $brand3;
  }
}

.button--white {
  color: $brand1;
  border: 2px solid $brand1;
  border-right: 0;

  span {
    background-image: url(#{$base-image-url}/svgs/arrow-btn-right-white.svg);
  }

  &:before,
  &:after {
    width: 2px;
    background-color: $brand1;
  }
}
