/* 
 * 
 * $Icons
 *
**/

.icon {
	display: block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

/* 
 * Social
 */
.icon--social {
	position: absolute;
	top: 0;
	left: 0;
	width: $socialSizeS;
	height: $socialSizeS;

	@include breakpoint(bp1) {
		width: $socialSizeM;
		height: $socialSizeM;
	}
}

@each $social in $socials {
	.icon--social-#{$social} {
		background-image: url(#{$base-image-url}/svgs/social-#{$social}.svg);
	}
}
