/*
 * $Tables
 *
 */

table {
  display: table;
  width: 100%;
  margin: 0 0 $ms2;
  border-top: 1px solid $brand2;
  border-collapse: collapse;

  @include breakpoint(bp3) {
    border-top: 0;
  }

  thead {
    tr {
      padding: 0;
    }
  }

  tr {
    display: block;
    border: 0;

    @include breakpoint(bp3) {
      display: table-row;
      padding: 0;
    }
  }

  th,
  td {
    display: block;
    width: 100%;
    padding: $ms-2;
    text-align: left;
    border-left: 1px solid $brand2;
    border-right: 1px solid $brand2;
    border-bottom: 1px solid $brand2;

    @include breakpoint(bp3) {
      display: table-cell;
      width: auto;
      border: 1px solid $brand2;
    }
  }

  th {
    display: none;
    @include font-fancy;
    @include type-medium;

    @include breakpoint(bp3) {
      display: table-cell;
    }
  }

  td {
    @include font-body;
    font-weight: $fw-regular;

    &:before {
      display: inline-block;
      margin-right: $ms-6;
      margin-bottom: $ms-8;
      content: attr(data-th) " ";
      @include type-medium;
      font-weight: bold;

      @include breakpoint(bp3) {
        display: none;
      }
    }
  }
}
