/*
 *
 * $Typography - Base font styles
 *
**/

/*Check _base.scss for base font sizes and modular scale variables*/

/*Base font styles*/
$base-line-height: $ms1;
$base-font-weight: $fw-regular;
$base-font-color: $brand2;
$base-font-alignment: left;

/* Font Faces */
@mixin font-body {
	font-family: "Barlow", Arial, sans-serif;
}
@mixin font-fancy {
	font-family: "Georgia", "Times New Roman", Times, serif;
}

/* Common Text Sizes */
@mixin type-xsmall {
	font-size: $ms-2;
}
@mixin type-small {
	font-size: $ms-1;
}
@mixin type-medium {
	font-size: $ms0;
}
@mixin type-large {
	font-size: $ms1;
}
@mixin type-xlarge {
	font-size: $ms2;
}
@mixin type-giga {
	font-size: $ms3;
	line-height: $ms-1;
}
@mixin type-mega {
	margin-bottom: $ms-7;
	font-size: $ms4;
	line-height: $ms-1;
}

/* ==================
 * Apply text styles
 * ==================*/

body {
	@include font-body;
	font-size: $base-font-size--narrow * 1px;
	line-height: $base-line-height;
	font-weight: $base-font-weight;
	color: $base-font-color;
	word-wrap: break-word;
	font-kerning: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@include breakpoint(bp3) {
		font-size: $base-font-size--wide * 1px;
	}
}

p,
a {
	margin: 0 0 $ms-1;
	padding: 0;
	text-align: $base-font-alignment;
	font-weight: $fw-regular;
	letter-spacing: 0;
}

a {
	color: $base-font-color;
	font-weight: $fw-regular;
	text-decoration: none;
}

p a {
	font-weight: $fw-bold;
	border-bottom: 1px dashed $base-font-color;
	@include transition();

	@include breakpoint(bp2) {
		&:hover {
			color: $brand3;
			border-bottom-color: $brand3;
			text-decoration: none;
			@include transition();
		}
	}
}

sub,
sup {
	@include type-xsmall;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0 0 $ms-5;
	@include font-fancy;
	color: $brand4;
	line-height: $ms0;
	font-weight: $fw-regular;
	text-align: $base-font-alignment;
}

h1 {
	@include type-mega;
	margin-bottom: $ms-4;
}
h2 {
	@include type-xlarge;
	line-height: $ms0;
	margin-bottom: $ms-4;

	@include breakpoint(bp1) {
		@include type-giga;
	}
}
h3 {
	@include type-large;

	@include breakpoint(bp1) {
		@include type-xlarge;
	}
}
h4 {
	@include type-medium;

	@include breakpoint(bp1) {
		@include type-large;
	}
}
h5 {
	@include type-small;

	@include breakpoint(bp1) {
		@include type-medium;
	}
}
h6 {
	@include type-small;
}

ul,
ol {
	padding: 0;
	margin: 0 0 $ms1 $ms0;
}
li {
	padding: 0;
	margin: 0 0 $ms-7;
	line-height: $ms1;
}

strong {
	font-weight: $fw-bold;
}

sub,
sup {
	font-size: 0.55em;
}
sup {
	position: relative;
	top: -8px;
	vertical-align: super;
}

abbr[title] {
	text-decoration: none;
}

::-moz-selection {
	color: $brand2;
	background: darken($brand1, 20%);
}

::selection {
	color: $brand2;
	background: darken($brand1, 20%);
}

mark {
	font-weight: $fw-bold;
	background-color: transparent;
}

// Divider
hr {
	clear: both;
	float: left;
	width: 100%;
	height: 2px;
	margin: $ms0 0;
	border: 0;
	background-color: $brand3;
}
