/* 
 * 
 * $Block
 *
**/

.block {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-bottom: $ms0;
}

.block--reverse {
  @include breakpoint(bp5) {
    flex-direction: row-reverse;
  }
}

/* 
 * Block Colours 
 */

.block--white {
  background-color: $brand1;
}
.block--blue {
  background-color: $brand4;
}

.block--text-light {
  h2,
  p {
    color: $brand1;
  }
}

/* 
 * Block Types
 */
.block--about {
  @extend .block--blue;

  .block__content {
    padding-top: $ms5;
    padding-bottom: $ms3;

    @include breakpoint(bp3) {
      padding-top: $ms6;
      padding-bottom: $ms3;
    }
    @include breakpoint(bp5) {
      padding-top: $ms7;
      padding-bottom: $ms6;
    }
  }
}

.block--space-top {
  margin-top: $ms2;

  @include breakpoint(bp5) {
    margin-top: 0;
  }
}

/*
 * The block child elements
 */

.block__content {
  display: block;
  width: 100%;
  padding: $ms0;

  @include breakpoint(bp3) {
    padding: $ms2;
  }
  @include breakpoint(bp4) {
    padding: $ms4;
  }
  @include breakpoint(bp5) {
    width: 50%;
  }

  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.block__content--large {
  max-width: 880px;

  @include breakpoint(bp4) {
    padding-top: $ms7;
    padding-bottom: $ms7;
  }

  p {
    @include type-medium;
  }
}

.block__title {
  margin-bottom: $ms-4;
  @include font-body;
  @include type-giga;
  color: $brand3;
}

.block__image {
  position: relative;
  display: block;
  width: 100%;
  height: 400px;
  overflow: hidden;

  @include breakpoint(bp3) {
    height: 480px;
  }
  @include breakpoint(bp5) {
    width: 50%;
    height: auto;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; // acts as background-image: cover
  }
}

.block__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: auto;
  padding: $ms-5 $ms-2;
  margin-bottom: 0;
  @include font-body;
  color: $brand1;
  background-color: $brand3;
  z-index: 1;

  &:after {
    display: none;
    position: absolute;
    top: 0;
    right: -49px; // show el but close the 1px gap on some browsers
    content: "";
    width: 50px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url(#{$base-image-url}/svgs/triangle-gold.svg);

    @media (min-width: 420px) {
      display: block;
    }
  }
}
