/* 
 * 
 * $Carousel
 *
**/

// Override Swiper style
// => Auto width slides
.swiper-slide {
	width: 300px;
}

.swiper-container {
	float: left;
	width: 100%;
}

.hide-carousel {
	opacity: 0;
}
.reveal-carousel {
	opacity: 1;
	@include transition(0.65s);
}

.carousel {
	position: relative;
	clear: both;
	display: block;
	width: 100%;
	@include clearfix();
}

.carousel-items {
	float: left;
	width: 100%;
}
.carousel-items--space {
	padding-bottom: $ms0;

	@include breakpoint(bp5) {
		padding-bottom: 0;
	}
}

.carousel__footer {
	position: relative;
	display: flex;
	align-items: flex-start;
	width: 100%;
	z-index: 1;
}
.carousel__footer--hero {
	position: absolute;
	width: auto;
	left: $ms-2;
	bottom: $ms-2;

	@include breakpoint(bp2) {
		left: $ms2;
		bottom: $ms2;
	}
}

// Pagination
.carousel-pager {
	display: none;
	float: left;
	width: 100%;
	padding-left: $ms1;

	@include breakpoint(bp3) {
		display: inline-block;
		width: auto;
		margin-top: $ms-6;
	}
}

.swiper-pagination-bullet {
	position: relative;
	margin: 0 4px;
	width: 20px;
	height: 20px;
	background-color: transparent;
	border: 1px solid $brand1;
	@include border-radius(0);
	opacity: 1;
	outline: none;
	@include transition();

	&.swiper-pagination-bullet-active {
		background-color: $brand3;
		border-color: $brand3;
	}

	@include breakpoint(bp3) {
		&:hover {
			background-color: $brand3;
			border-color: $brand3;
		}
	}
}

// Navigation
.carousel-nav {
	position: relative;
	float: left;
	width: auto;
}

.carousel-nav-prev,
.carousel-nav-next {
	float: left;
	width: 40px;
	height: 40px;
	background-color: $brand3;
	background-position: center;
	background-size: 24px auto;
	background-repeat: no-repeat;
	outline: none;
	cursor: pointer;

	@include breakpoint(bp2) {
		width: 44px;
		height: 44px;
		background-size: 28px auto;
	}
}
.carousel-nav-prev {
	background-image: url(#{$base-image-url}/svgs/arrow-left-white.svg);
}
.carousel-nav-next {
	margin-left: $ms-2;
	background-image: url(#{$base-image-url}/svgs/arrow-right-white.svg);

	@include breakpoint(bp5) {
		margin-left: $ms0;
	}
}

.carousel-nav-prev.swiper-button-disabled,
.stereo-nav-prev.swiper-button-disabled,
.carousel-nav-next.swiper-button-disabled,
.stereo-nav-next.swiper-button-disabled {
	opacity: 0.5;
	cursor: auto;
	pointer-events: none;
}
