/* 
 * 
 * $Consultant
 *
**/

.consultants {
	position: relative;
	float: left;
	width: 100%;
	margin-top: $ms2;
	margin-bottom: $ms0;
	padding: $ms2 $ms4;
	background-color: $brand4;
}

.consultant {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: $ms0;

	img {
		display: block;
		width: 100%;
		max-width: 170px;
		height: auto;
		margin: 0 auto;
	}
}
