/* 
 * 
 * $ContactBlock
 *
**/

.contact-block {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  margin-bottom: $ms0;
  background-color: $brand4;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
    @include font-body;
    @include type-xsmall;
    color: $brand3;
    font-weight: $fw-bold;
    text-transform: uppercase;
  }
  p,
  p a {
    color: $brand1;
  }
  p a {
    border-color: transparent;
    font-weight: $fw-regular;

    &:hover {
      border-color: $brand1;
    }
  }
}

.contact-block__content {
  float: left;
  width: 100%;
  padding: $ms4 $ms0 $ms2;

  @include breakpoint(bp2) {
    padding: $ms6 $ms4 $ms4;
  }
  @include breakpoint(bp4) {
    width: 50%;
  }
}

.contact-block__map {
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include breakpoint(bp4) {
    width: 50%;
    height: auto;
  }
}
