/* 
 * 
 * $CTABlock
 *
**/

.cta-block {
	display: flex;
	width: 100%;
	flex-flow: row wrap;
	align-items: center;
	padding: $ms0;
	margin-bottom: $ms0;
	background-color: $brand4;

	@include breakpoint(bp2) {
		padding: $ms3;
	}

	h4 {
		@include font-body;
		color: $brand3;
	}

	p,
	p a {
		color: $brand1;
	}

	p {
		&:last-of-type {
			margin-bottom: 0;
		}
		a {
			font-weight: $fw-regular;
			border-color: transparent;

			&:hover {
				border-color: $brand1;
			}
		}
	}
}

.cta-block__content {
	display: block;
	width: 100%;
	max-width: 500px;
	margin-top: $ms0;

	@include breakpoint(bp4) {
		margin-top: 0;
	}
	@include breakpoint(bp5) {
		margin-left: $ms0;
	}
	@media (min-width: 1400px) {
		max-width: 800px;
	}
}
