/* 
 * 
 * $FeatureBar
 *
**/

.feature-bar {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
}

.feature-bar > div {
	width: 100%;

	@include breakpoint(bp3) {
		&:nth-of-type(1) {
			width: 50% !important;
		}
		&:nth-of-type(2) {
			width: 50%;
		}
	}
	@include breakpoint(bp6) {
		&:nth-of-type(1) {
			width: 60% !important;
		}
		&:nth-of-type(2) {
			width: 40%;
		}
	}
}
