/* 
 * 
 * $Feature
 *
**/

.feature {
	position: relative;
	float: left;
	width: 100%;
	min-height: 300px;
	padding: $ms2;
	background-color: $brand4;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;

	@include breakpoint(bp2) {
		min-height: 360px;
	}
	@include breakpoint(bp5) {
		min-height: 300px;
	}

	&.active {
		.feature__content-container {
			transform: translateX(0);
		}
		.feature__trigger span {
			background-color: $brand3;
			background-image: url(#{$base-image-url}/svgs/x.svg);
		}
	}
}

.feature__trigger {
	position: absolute;
	top: $ms2;
	right: $ms2;
	display: block;
	width: 55px;
	height: 55px;
	padding: $ms-5;
	background-color: $brand4;
	background-image: url(#{$base-image-url}/svgs/magnifying-glass-gold.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30px auto;
	transition: background-color 0.2s linear;
}

.feature__content-container {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: $ms2;
	background-color: $brand4;
	transform: translateX(-100%);
	@include transition();
	z-index: 1;
}

.feature__content {
	position: absolute;
	display: block;
	padding: $ms5;
	border: 1px solid $brand3;

	@include breakpoint(bp4) {
		padding: $ms3;
	}

	p {
		@include type-small;
		color: $brand1;
		line-height: 1.2;
	}
}

.feature__title {
	margin-bottom: 0;
	@include font-body;
	@include type-small;
	color: $brand3;
	font-weight: $fw-bold;
}
