/* 
 * 
 * $Hero
 *
**/

// Structure
.hero {
	float: left;
	width: 100%;
	background-color: $brand4;
}

.hero--project {
	position: relative;
	z-index: 1;

	@include breakpoint(bp5) {
		position: absolute;
		top: 0;
		right: 0;
		max-width: 64%;
		height: 100%;
	}
	@include breakpoint(bp6) {
		max-width: 70%;
	}
}

.hero__slide {
	display: block;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero__slide--home {
	min-height: 400px;

	&:after {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: "";
		z-index: 1;
		background-color: rgba(0, 0, 0, 0.4);

		@include breakpoint(bp2) {
			background: -moz-linear-gradient(
				left,
				rgba(0, 0, 0, 0.5) 0%,
				rgba(0, 0, 0, 0.33) 20%,
				rgba(0, 0, 0, 0) 59%
			);
			background: -webkit-linear-gradient(
				left,
				rgba(0, 0, 0, 0.5) 0%,
				rgba(0, 0, 0, 0.33) 20%,
				rgba(0, 0, 0, 0) 59%
			);
			background: linear-gradient(
				to right,
				rgba(0, 0, 0, 0.5) 0%,
				rgba(0, 0, 0, 0.33) 20%,
				rgba(0, 0, 0, 0) 59%
			);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=1 );
		}
	}

	@include breakpoint(bp1) {
		min-height: 500px;
	}
	@include breakpoint(bp2) {
		min-height: 700px;
	}
}

.hero__slide--project {
	min-height: 500px;

	@include breakpoint(bp2) {
		min-height: 600px;
	}
	@include breakpoint(bp5) {
		min-height: 880px;
	}
}

.hero__content {
	position: absolute;
	top: 50%;
	left: $ms-2;
	transform: translateY(-50%);
	z-index: 3;

	@include breakpoint(bp2) {
		left: $ms2;
	}

	h1.title {
		margin-bottom: $ms-8 - 0.1em;
		text-transform: none;

		@media (max-width: 600px) {
			@include type-large;
		}
		@media (min-width: 900px) and (max-width: 1200px) {
			@include type-giga;
		}
		@media (min-width: 1200px) {
			&:after {
				width: 53px;
				right: -52px; // show el but close the 1px gap on some browsers
			}
		}
		@include breakpoint(bp3) {
			padding: $ms-7 $ms-6 $ms-6 $ms-4;
		}
	}
	h2.title {
		margin-bottom: $ms-2;

		@media (max-width: 600px) {
			@include type-medium;
		}
	}

	.button {
		padding-top: $ms-4;
		padding-bottom: $ms-4;
	}
}

.hero__title {
	display: block;
	padding: $ms-5;
	@include font-fancy;
	color: $brand4;
	text-transform: uppercase;
	background-color: $brand1;
}
