/*
 * 
 * $Instagram
 *
**/

/*Instgram plugin overwrites*/
#sb_instagram {
	padding-bottom: 0 !important;
	background-color: $brand4;
}

.sbi_item {
	.sbi_photo {
		margin-bottom: 0 !important;
	}

	&:nth-of-type(3),
	&:nth-of-type(4) {
		display: none !important;
	}

	@include breakpoint(bp1) {
		width: 50% !important;

		&:nth-of-type(3) {
			display: inline-block !important;
		}
		&:nth-of-type(4) {
			display: inline-block !important;
		}
	}
	@include breakpoint(bp3) {
		width: 100% !important;

		&:nth-of-type(2),
		&:nth-of-type(3),
		&:nth-of-type(4) {
			display: none !important;
		}
	}
	@include breakpoint(bp4) {
		width: 50% !important;

		&:nth-of-type(2),
		&:nth-of-type(3),
		&:nth-of-type(4) {
			display: inline-block !important;
		}
	}
	@include breakpoint(bp5) {
		&:nth-of-type(3),
		&:nth-of-type(4) {
			display: none !important;
		}
	}
	@include breakpoint(bp6) {
		width: 33.333% !important;

		&:nth-of-type(3) {
			display: inline-block !important;
			padding-right: 0;
		}
	}
}
