/* 
 * 
 * $LatestPost
 *
**/

.latest-post {
	display: block;
	width: 100%;
}

.latest-post__title {
	margin-bottom: $ms-8 - 0.1em;
	@include font-body;
	font-size: $ms1 + 0.175em;
}

.latest-post__date {
	display: block;
	margin-bottom: $ms-4 - 0.1em;
	@include type-xsmall;
	color: $brand3;
	font-weight: $fw-bold;
}
