/* 
 * 
 * $Lead
 *
**/

.leaders {
	display: flex;
	flex-flow: row wrap;

	@include breakpoint(bp4) {
		justify-content: space-between;
		align-items: center;
	}
}

.lead {
	position: relative;
	display: block;
	width: 100%;
	max-width: 620px;
	padding: 0 0 $ms2;
	background-color: $brand5;
	overflow: visible;

	@include breakpoint(bp4) {
		width: 55%;
		max-width: none;
		padding: $ms-2 $ms2;

		p {
			line-height: $ms0 + 0.125em;
		}
	}
	@include breakpoint(bp5) {
		padding-right: $ms2;
	}
	@media (min-width: 1500px) {
		padding-right: $ms8 + 2em;
	}
}

.lead--triangle {
	padding: $ms0;

	@include breakpoint(bp4) {
		width: 45%;
	}
	@include breakpoint(bp5) {
		width: 40%;
		padding: $ms5 $ms4 $ms5 $ms2;
	}

	&:before {
		display: none;
		position: absolute;
		top: 0;
		left: -200px; // show el but close the 1px gap on some browsers
		content: "";
		width: 200px;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-image: url(#{$base-image-url}/svgs/triangle-grey.svg);
		transform: rotate(180deg);

		@media (min-width: 1500px) {
			display: block;
		}
	}
}

.lead--white {
	background-color: $brand1;
}
.lead--grey {
	background-color: $brand5;
}
