/* 
 * 
 * $Map
 *
**/

/*Required to give map height*/
.map {
  display: block;
  width: 100%;
  height: 300px;
  margin-bottom: $ms0;

  @include breakpoint(bp2) {
    height: 0;
    padding-bottom: 50%; // keep ratio for responsive
  }
  @include breakpoint(bp3) {
    margin-bottom: 0;
  }
}

.map--compact {
  @include breakpoint(bp3) {
    padding-bottom: 70.75%; // keep ratio for responsive
  }
}

.map--contact {
  height: 100%;

  @include breakpoint(bp3) {
    padding-bottom: 0;
  }
}
