/* 
 * 
 * $Pagination
 *
**/

.pagination {
	float: left;
	width: 100%;
	padding: $ms0;
	margin-bottom: $ms0;
	background-color: $brand5;
	text-align: center;
}

.pagination__item {
	display: inline-block;
	margin: 0 $ms-4 $ms-2;

	&:last-of-type {
		margin-bottom: 0;
	}

	@media (min-width: 410px) {
		margin-bottom: 0;
	}
}

.load-more {
	position: relative;
	clear: both;
	display: block;
	margin-bottom: 0;
	text-align: center;

	span {
		position: relative;
		display: inline-block;
		padding: $ms-6 $ms-2 $ms-5;
		color: $brand3;
		font-weight: $fw-bold;
		background-color: $brand5;
		cursor: pointer;
		z-index: 1;
	}

	&:after {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		display: block;
		width: 100%;
		height: 1px;
		content: "";
		background-color: $brand3;
		z-index: 0;
	}
}
