/* 
 * 
 * $Post
 *
**/

.posts {
	float: left;
	width: 100%;
}

.post {
	float: left;
	width: 100%;
	max-width: 420px;
	margin-bottom: $ms4;

	@include breakpoint(bp2) {
		width: 50%;
		padding: 0 1%;
	}
	@include breakpoint(bp5) {
		width: 33.333%;
		max-width: none;
		padding: 0 1%;
	}
}

.post__date {
	display: block;
	margin-bottom: $ms-4;
	@include type-xsmall;
	color: $brand3;
	font-weight: $fw-bold;
}

.post__title {
	@include font-body;
	@include type-large;
	line-height: $ms-1;

	a {
		color: $brand4;
		font-weight: $fw-regular;
	}
}

.post__image {
	display: block;
	width: 100%;
	margin-bottom: $ms-3;
}

.post__desc {
	display: block;
	width: 100%;

	p {
		line-height: $ms0;
	}
}

.posts-placeholder {
	float: left;
	width: 100%;
}
