/* 
 * 
 * $Project
 *
**/

.project {
  position: relative;
  float: left;
  width: 100%;
  min-height: 500px;
  margin-bottom: $ms0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $brand5;
  overflow: hidden;

  &.active {
    .project__content-container {
      transform: translateX(0);
    }
    .project__title {
      bottom: 80%;

      @include breakpoint(bp3) {
        bottom: 77%;
      }
    }
    .title__symbol {
      background-image: url(#{$base-image-url}/svgs/x.svg);
    }
  }

  @include breakpoint(bp3) {
    min-height: 600px;
  }
}

.project__blend {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $brand5;
  background-blend-mode: luminosity;
  opacity: 0.25;
}

.project__title {
  position: absolute;
  display: block;
  bottom: $ms0;
  left: $ms0;
  @include transition();
  z-index: 3;

  @include breakpoint(bp2) {
    bottom: $ms3;
    left: $ms3;
  }
}

.project__content-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding-left: $ms2;
  padding-right: $ms2;
  display: flex;
  align-items: center;
  transform: translateX(-100%);
  @include transition();

  @include breakpoint(bp2) {
    padding-left: $ms3;
    padding-right: $ms3;
  }

  // Underlay angled shape
  &:before {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 1;

    @include breakpoint(bp5) {
      // The angled backdrop for the overlay
      transform: skew(-22deg) translateX(-121px);
      border-right: 2px solid $brand3;
      background-color: rgba(255, 255, 255, 0.85);
    }
  }
}

.project__content {
  position: relative;
  float: left;
  width: 100%;
  padding-top: $ms2;
  max-width: 395px;
  z-index: 2;

  @include breakpoint(bp3) {
    padding-top: $ms6;
  }
}

.project__description {
  float: left;
  width: 100%;
}

.project__subtitle {
  clear: both;
  display: block;
  @include font-body;
  @include type-small;
  color: $brand3;
  font-weight: $fw-bold;
  text-transform: uppercase;
}
