/* 
 * 
 * $SingleProject
 *
**/

.single-project {
	display: block;
	width: 100%;
	padding: 0;

	@include breakpoint(bp4) {
		padding: 0 $ms2;
	}
}

.single-project__header {
	position: relative;
	display: block;
	width: 100%;
}

.single-project__post {
	clear: both;
	display: block;
	width: 100%;
	max-width: 380px;

	h3 {
		margin-bottom: $ms-6;
		@include font-body;
		@include type-xsmall;
		color: $brand3;
		text-transform: uppercase;
		font-weight: $fw-bold;
	}
}

.single-project__image {
	display: block;
	width: 100%;
	height: auto;
}

.single-project__description {
	clear: both;
	display: block;
	width: 100%;

	@include breakpoint(bp4) {
		padding: $ms0 $ms2;
	}
}
