/* 
 * 
 * $SinglePost
 *
**/

.single-post {
	float: left;
	width: 100%;
	margin-bottom: $ms2;
}

.single-post__header {
	float: left;
	width: 100%;
}

.single-post__date {
	display: block;
	margin-bottom: $ms-4;
	@include type-xsmall;
	color: $brand3;
	font-weight: $fw-bold;
}

.single-post__article {
	float: left;
	width: 100%;
	margin-bottom: $ms2;
	max-width: 740px;

	p + h1 {
		margin-top: $ms-3;
	}
	p + h2,
	p + h3,
	p + h4,
	p + h5,
	p + h6 {
		margin-top: $ms-1;
	}

	@include breakpoint(bp5) {
		max-width: none;
		padding-right: $ms4;
		margin-bottom: 0;
	}
}

.single-post__image {
	display: block;
	width: 100%;
	margin-bottom: $ms-3;

	@include breakpoint(bp1) {
		float: left;
		width: 49%;

		&:last-of-type {
			margin-left: 2%;
		}
	}
	@include breakpoint(bp5) {
		width: 100%;

		&:last-of-type {
			margin-left: 0;
		}
	}
}
