/* 
 * 
 * $SiteLogo
 *
**/

.site-logo {
  float: left;
  width: 140px;
  height: auto;
  margin-bottom: 0;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  @include breakpoint(bp1) {
    width: 180px;
  }
  @include breakpoint(bp4) {
    width: 240px;
  }
  @include breakpoint(bp5) {
    width: 320px;
  }
  @include breakpoint(bp7) {
    width: 340px;
  }
}
