/* 
 * 
 * $Social
 *
**/

.social__items {
	display: inline-block;
	padding-bottom: 0;
	margin: 0 $ms-4 0 0;

	@include breakpoint(bp1) {
		margin: 0 $ms2 0 0;
	}
	@include breakpoint(bp4) {
		float: right;
		margin: $ms-6 0 0;
	}
	@include breakpoint(bp5) {
		margin-top: $ms-1;
	}
}

.social__item {
	display: inline-block;
	list-style: none;
	margin: 0 1px;

	@media (min-width: 350px) {
		margin: 0 2px;
	}
	@include breakpoint(bp1) {
		margin: 0 6px;
	}

	a {
		position: relative;
		display: block;
		margin: 0 auto;
		padding-bottom: 0;
		width: $socialSizeS;
		height: $socialSizeS;
		@include transition();

		@include breakpoint(bp1) {
			width: $socialSizeM;
			height: $socialSizeM;
		}

		&:hover {
			background-color: $brand1;
			@include transition();
		}
	}
}
