/* 
 * 
 * $Title
 *
**/

.title {
	position: relative;
	clear: both;
	float: left;
	width: auto;
	padding: $ms-6 $ms-4 $ms-5;
	margin: 0 0 $ms-4;
	@include font-body;
	@include type-giga;
	color: $brand1;

	@include breakpoint(bp3) {
		padding: $ms-6 $ms-6 $ms-5 $ms-4;
		@include type-mega;
	}

	&:after {
		display: none;
		position: absolute;
		top: 0;
		right: -49px; // show el but close the 1px gap on some browsers
		content: "";
		width: 50px;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% auto;

		@include breakpoint(bp3) {
			display: block;
		}
	}
}

.title--small {
	padding: $ms-7 $ms-4 $ms-6;
	@include type-xlarge;

	@include breakpoint(bp3) {
		padding: $ms-7 $ms-5 $ms-6 $ms-2;
		margin-bottom: $ms-2;
	}
}

.title--fancy {
	padding: $ms-6 $ms-4 $ms-5;
	@include font-fancy;

	@include breakpoint(bp3) {
		padding: $ms-5 $ms-6 $ms-4 $ms-4;
	}
}

.title--caps {
	text-transform: uppercase;
}

.title--symbol {
	padding: 0;
	margin-bottom: 0;
	font-size: $ms0 - 0.025em;
	text-transform: uppercase;

	@media (min-width: 440px) {
		@include type-large;
	}
	@include breakpoint(bp3) {
		@include type-large;
	}

	a {
		display: block;
		padding: $ms-5 $ms-4 $ms-4 60px;
		margin-bottom: 0;
		color: $brand1;

		@include breakpoint(bp1) {
			padding-left: 70px;
		}
		@include breakpoint(bp3) {
			padding-left: 85px;
		}
	}
}

.title--overhang {
	position: absolute;
	top: $ms-5;
	left: $ms-4;
	z-index: 1;

	@include breakpoint(bp3) {
		top: $ms-4;
		left: $ms-2;
	}
	@include breakpoint(bp4) {
		top: $ms-5;
	}

	&:after {
		display: block;
	}
}

.title--news {
	@extend .title--overhang;
	top: -$ms-1;
}

.title--consultants {
	position: absolute;
	top: -$ms-1;
	left: $ms1;
	@include type-xlarge;
}

// Colours
.title--blue {
	background-color: $brand4;

	&:after {
		background-image: url(#{$base-image-url}/svgs/triangle-blue.svg);
	}
}

.title--gold {
	background-color: $brand3;

	&:after {
		background-image: url(#{$base-image-url}/svgs/triangle-gold.svg);
	}
}

.title--white {
	color: $brand4;
	background-color: $brand1;

	&:after {
		background-image: url(#{$base-image-url}/svgs/triangle-white.svg);
	}
}

/*
 * Child Elements
*/

// Symbol link block to sit alongside title
.title__symbol {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 45px;
	height: 100%;
	background-color: $brand3;
	background-image: url(#{$base-image-url}/svgs/magnifying-glass-white.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 24px auto;

	@include breakpoint(bp1) {
		width: 55px;
		background-size: 30px auto;
	}
	@include breakpoint(bp3) {
		width: 65px;
		background-size: 36px auto;
	}
}
