/* 
 * 
 * $Twitter
 *
**/

.twitter {
	float: left;
	width: 100%;
	min-height: 300px;
	padding: $ms0;
	margin-top: $ms0;
	background-color: $brand4;

	@include breakpoint(bp2) {
		padding: $ms2;
		margin-top: 0;
	}
}

.twitter__header {
	display: block;
	width: 100%;
	margin-bottom: $ms-2;

	.button {
		@include breakpoint(bp1) {
			float: right;
			margin-right: $ms0;
		}
	}
}

.twitter__title {
	clear: both;
	display: block;
	@include font-body;
	@include type-large;

	@include breakpoint(bp1) {
		display: inline-block;
		margin-bottom: 0;
	}

	a {
		display: flex;
		margin-bottom: 0;
		align-items: center;
		color: $brand1;
	}

	span {
		margin-left: $ms-4;
	}
}

.twitter__description {
	display: block;
	width: 100%;

	p {
		color: $brand1;

		&:last-of-type {
			margin-bottom: 0;
		}

		a {
			color: $brand3;
			font-weight: $fw-regular;
			border-bottom: 0;
		}
	}
}
