//
// -- Start editing -- //
//

@import "./flex";

// Set the number of columns you want to use on your layout.
$flexboxgrid-grid-columns: 12 !default;
// Set the gutter between columns.
$flexboxgrid-gutter-width: 0.83333333 * 2 * 1% !default;
// Set a margin for the container sides.
$flexboxgrid-outer-margin: 0 !default;
// Create or remove breakpoints for your project
// Syntax:
// name SIZErem,
$flexboxgrid-breakpoints: bp1 600px 37.5rem, bp2 768px 48rem, bp3 900px 56.25rem,
	bp4 1020px 63.75rem, bp5 1280px 80rem, bp6 1440px 90rem, bp7 1920px 120rem !default;
$flexboxgrid-max-width: none !default;

//
// -- Stop editing -- //
//

$gutter-compensation: $flexboxgrid-gutter-width * 0.5 * -1;
$half-gutter-width: $flexboxgrid-gutter-width * 0.5;

// Full site wrapper
.wrapper {
	float: left;
	width: 100%;
	box-sizing: border-box;
	max-width: $flexboxgrid-max-width;
	margin: 0 auto;
	padding: $ms-2; // offset the fixed header

	@include breakpoint(bp5) {
		padding: $ms0;
	}
}

.wrapper__inner {
	position: relative;
	display: block;
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
	padding-top: 65px;
	overflow: hidden;

	@include breakpoint(bp1) {
		padding-top: 75px;
	}
	@include breakpoint(bp3) {
		padding-top: 80px;
	}
	@include breakpoint(bp4) {
		padding-top: 104px;
	}
	@include breakpoint(bp5) {
		padding-top: 145px;
	}
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-right: $flexboxgrid-outer-margin;
	padding-left: $flexboxgrid-outer-margin;
}

.row {
	box-sizing: border-box;
	@include flexbox();
	@include flex(0, 1, auto);
	@include flex-direction(row);
	@include flex-wrap(wrap);
	margin-left: $gutter-compensation;
	margin-right: $gutter-compensation;
}

.row.reverse {
	@include flex-direction(row-reverse);
}

.col.reverse {
	@include flex-direction(column-reverse);
}

@mixin flexboxgrid-sass-col-common {
	box-sizing: border-box;

	// split @include flex(0, 0, auto) into individual props
	@include flex-grow(0);
	@include flex-shrink(0);

	// we leave @include flex-basis(auto) out of common because
	// in some spots we need it and some we dont
	// more why here: https://github.com/kristoferjoseph/flexboxgrid/issues/126

	padding-right: $half-gutter-width;
	padding-left: $half-gutter-width;
}

$name: bp1;
.col-#{$name} {
	@include flexboxgrid-sass-col-common;
	@include flex-basis(auto);
}
@for $i from 1 through $flexboxgrid-grid-columns {
	.col-#{$name}-#{$i} {
		@include flexboxgrid-sass-col-common;
		@include flex-basis(100% / $flexboxgrid-grid-columns * $i);
		max-width: 100% / $flexboxgrid-grid-columns * $i;
	}
}
@for $i from 0 through $flexboxgrid-grid-columns {
	.col-#{$name}-offset-#{$i} {
		@include flexboxgrid-sass-col-common;
		@if $i == 0 {
			margin-left: 0;
		} @else {
			margin-left: 100% / $flexboxgrid-grid-columns * $i;
		}
	}
}
.col-#{$name} {
	@include flex-grow(1);
	@include flex-basis(0);
	max-width: 100%;
}
.start-#{$name} {
	@include justify-content(flex-start);
	text-align: left;
}

.center-#{$name} {
	@include justify-content(center);
	text-align: center;
}

.end-#{$name} {
	@include justify-content(flex-end);
	text-align: right;
}

.top-#{$name} {
	@include align-items(flex-start);
}

.middle-#{$name} {
	@include align-items(center);
}

.bottom-#{$name} {
	@include align-items(flex-end);
}

.around-#{$name} {
	@include justify-content(space-around);
}

.between-#{$name} {
	@include justify-content(space-between);
}

.first-#{$name} {
	order: -1;
}

.last-#{$name} {
	order: 1;
}

@each $breakpoint in $flexboxgrid-breakpoints {
	$name: nth($breakpoint, 1);
	$size: nth($breakpoint, 2);
	$container: nth($breakpoint, 3);
	@media only screen and (min-width: $size) {
		.container {
			width: $container;
		}

		.col-#{$name} {
			@include flexboxgrid-sass-col-common;
			@include flex-basis(auto);
		}
		@for $i from 1 through $flexboxgrid-grid-columns {
			.col-#{$name}-#{$i} {
				@include flexboxgrid-sass-col-common;
				@include flex-basis(100% / $flexboxgrid-grid-columns * $i);
				max-width: 100% / $flexboxgrid-grid-columns * $i;
			}
		}
		@for $i from 0 through $flexboxgrid-grid-columns {
			.col-#{$name}-offset-#{$i} {
				@include flexboxgrid-sass-col-common;
				@if $i == 0 {
					margin-left: 0;
				} @else {
					margin-left: 100% / $flexboxgrid-grid-columns * $i;
				}
			}
		}
		.col-#{$name} {
			@include flex-grow(1);
			@include flex-basis(0);
			max-width: 100%;
		}
		.start-#{$name} {
			@include justify-content(flex-start);
			text-align: left;
		}

		.center-#{$name} {
			@include justify-content(center);
			text-align: center;
		}

		.end-#{$name} {
			@include justify-content(flex-end);
			text-align: right;
		}

		.top-#{$name} {
			@include align-items(flex-start);
		}

		.middle-#{$name} {
			@include align-items(center);
		}

		.bottom-#{$name} {
			@include align-items(flex-end);
		}

		.around-#{$name} {
			@include justify-content(space-around);
		}

		.between-#{$name} {
			@include justify-content(space-between);
		}

		.first-#{$name} {
			order: -1;
		}

		.last-#{$name} {
			order: 1;
		}
	}
}
