/* 
 * 
 * $Footer
 *
**/

.site-footer {
	position: relative;
	float: left;
	width: 100%;
	padding: $ms3 $ms0 $ms5;
	background-color: $brand4;

	@include breakpoint(bp2) {
		padding-left: $ms2;
		padding-right: $ms2;
	}
	@include breakpoint(bp4) {
		padding: $ms0 $ms2;
	}

	p {
		margin-bottom: 0;
		color: $brand1;
		@include type-xsmall;
		line-height: $ms0;
	}

	a {
		color: $brand1;
		font-weight: $fw-regular;
		text-decoration: none;
		border-bottom: 0;

		&:hover {
			color: $brand1;
			text-decoration: underline;
		}
	}
}

.site-footer__inner {
	display: flex;
	width: 100%;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.site-footer__brand {
	display: block;
	width: 200px;
	height: auto;
	margin-bottom: $ms-2;

	@include breakpoint(bp5) {
		margin-bottom: 0;
	}
}

.site-footer__details {
	width: 100%;
	margin-bottom: $ms-6;

	@include breakpoint(bp5) {
		width: 400px;
		padding: 0 $ms-4;
		margin-bottom: 0;
	}
	@include breakpoint(bp6) {
		padding: 0 $ms0;
	}

	ul {
		display: flex;
		flex-flow: row wrap;
		width: 100%;
		margin: 0;
	}

	li {
		display: inline-block;
		margin-right: 6px;
		@include type-xsmall;

		&:after {
			position: relative;
			display: inline-block;
			content: "";
			width: 1px;
			height: 11px;
			margin-left: 6px;
			background-color: $brand3;
		}

		&:last-child {
			&:after {
				display: none;
			}
		}

		@include breakpoint(bp4) {
			font-size: $ms-3;
		}
	}
}

.site-footer__desc {
	display: block;
	width: 100%;
	margin-bottom: $ms0;

	p {
		color: $brand1;
	}

	@include breakpoint(bp4) {
		p {
			font-size: $ms-3;
			line-height: $ms2;
		}
	}
	@include breakpoint(bp5) {
		width: auto;
		padding: 0 $ms0;
		margin-bottom: 0;
	}
	@include breakpoint(bp6) {
		width: auto;
	}
}

.site-footer__creator {
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	padding: $ms-2 $ms2;
	background-color: darken($brand4, 5%);

	@include breakpoint(bp1) {
		padding-left: $ms3;
		padding-right: $ms3;
	}
	@include breakpoint(bp4) {
		position: relative;
		left: auto;
		bottom: auto;
		width: auto;
		padding: 0;
		background-color: transparent;

		p {
			font-size: $ms-3;
		}
	}
}
