/* 
 * 
 * $Header
 *
**/

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  z-index: 4;
}

.site-header__inner {
  position: relative;
  float: left;
  width: 100%;
  padding: $ms-2;
  background-color: $brand4;
  z-index: 1;

  @include breakpoint(bp4) {
    padding: $ms0;
    border: 0;
  }
  @include breakpoint(bp5) {
    padding: $ms2;
  }
}

.site-header__toolbar {
  float: right;
}
