/* 
 * 
 * $Section
 *
**/

.section {
	float: left;
	width: 100%;
}

.section--title {
	position: relative;
	padding-top: $ms5;

	@include breakpoint(bp3) {
		padding-top: $ms6;
	}
}

.section--space {
	margin-bottom: $ms0;
}

.section--padding-around {
	padding: $ms0;

	@include breakpoint(bp3) {
		padding: $ms2 $ms4;
	}
}

.section--padding-top-bottom {
	padding: $ms2 0;

	@include breakpoint(bp3) {
		padding: $ms4 0;
	}
}

.section--single-project {
	position: relative;
	padding: $ms0 0;

	@include breakpoint(bp4) {
		min-height: 880px;
		margin-bottom: $ms0;
	}
}

// Colours
.section--blue {
	background-color: $brand4;
}
.section--grey {
	background-color: $brand5;
}

// News
.section--news {
	@extend .section--padding-around;
	@extend .section--title;
	@extend .section--grey;
	padding-top: $ms6;
	margin-top: $ms5;

	@include breakpoint(bp4) {
		margin-top: $ms6;
	}
}
