/* 
 * 
 * $SiteNav
 *
**/

/*When Javascript enabled*/
.main-navigation {
	position: absolute;
	float: left;
	width: 100%;
	background-color: $brand4;
	top: -360px; // Hide nav on mobile by default
	left: 0;
	@include transition();
	z-index: 0;

	&.active {
		top: 65px; // offset header height
		@include breakpoint(bp1) {
			top: 75px; // offset header height
		}
	}

	@include breakpoint(bp4) {
		top: 45%;
		left: 35%;
		width: auto;
		transform: translateY(-50%);
		background-color: transparent;
		z-index: 1;
	}
}

.js-enabled .main-navigation {
	display: none;
}
.main-navigation.active-menu {
	display: block;
}

// Wordpress enforced container
// Doesn't really do anything
.nav-primary-container {
	float: left;
	width: 100%;

	@include breakpoint(bp4) {
		width: auto;
	}
}

$nav-primary-tab: transparent;
$nav-primary-tab-text: $brand1;
$nav-primary-tab-text-current: $brand3;
$nav-primary-tab-current: $nav-primary-tab;
$nav-primary-tab-current-mobile: $nav-primary-tab;
$nav-primary-tab-text-current-mobile: $brand3;
$nav-primary-tab-hover: transparent;
$nav-primary-tab-text-hover: $brand3;

.nav-primary {
	position: relative;
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	@include transition(0.5s);
	z-index: 2;

	@include breakpoint(bp4) {
		width: auto;
	}
}

.nav-primary .menu-item {
	position: relative;
	float: left;
	width: 100%;
	padding: $ms-4 0;
	margin: 0;
	list-style: none;
	text-align: center;

	@include breakpoint(bp4) {
		width: auto;
		margin: 0 1px;
		padding: $ms-3 $ms-4;
	}
	@include breakpoint(bp5) {
		padding: $ms-2 $ms0;
	}

	&:hover {
		@include breakpoint(bp4) {
			text-decoration: none;
		}
	}

	&:first-child {
		padding-top: $ms3;

		@include breakpoint(bp4) {
			padding-top: $ms-3;
		}
		@include breakpoint(bp5) {
			padding-top: $ms-2;
		}
	}

	&:last-child {
		padding-bottom: $ms4;

		&:after {
			display: none;
		}

		@include breakpoint(bp4) {
			padding-bottom: $ms-3;

			&:after {
				display: block;
			}
		}
		@include breakpoint(bp5) {
			padding-top: $ms-2;
			padding-bottom: $ms-2;
		}
	}

	&:after {
		position: absolute;
		bottom: -2px;
		left: 50%;
		width: 40px;
		height: 2px;
		transform: translateX(-50%);
		content: "";
		background-color: $brand3;

		@include breakpoint(bp4) {
			bottom: 0;
		}
	}

	&.current-menu-item a {
		color: $nav-primary-tab-text-current-mobile;
		background-color: $nav-primary-tab-current-mobile;

		@include breakpoint(bp4) {
			color: $nav-primary-tab-text-current;
			background-color: $nav-primary-tab-current;
		}
	}
}

.nav-primary .menu-item a {
	float: left;
	width: 100%;
	margin: 0;
	@include type-medium;
	color: $nav-primary-tab-text;
	text-align: center;
	text-decoration: none;
	line-height: $ms0;
	font-weight: $fw-bold;
	background-color: $nav-primary-tab;

	@include breakpoint(bp4) {
		@include type-xsmall;

		&:hover {
			color: $nav-primary-tab-text-hover;
			background-color: $nav-primary-tab-hover;
			text-decoration: $nav-primary-tab-text-hover;
		}
	}
	@include breakpoint(bp7) {
		font-size: $ms-1 - 0.035em;
		line-height: $ms0;
	}
}
