/* 
 * 
 * $PrimaryNavToggle
 *
**/

$toggleSizeS: 32px;
$toggleSizeM: 40px;

.site-nav-trigger {
  float: right;
  margin-bottom: 0;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  z-index: 1;

  @include breakpoint(bp4) {
    display: none;
  }
}

.lines-button {
  position: relative;
  display: block;
  width: $toggleSizeS;
  height: $toggleSizeS;
  padding: 0 10px 10px;
  cursor: pointer;
  user-select: none;
  border: 2px solid $brand3;
  @include transition();

  @include breakpoint(bp1) {
    width: $toggleSizeM;
    height: $toggleSizeM;
  }

  &:active {
    transition: 0;
  }
}

/*Mixin*/
@mixin line {
  position: absolute;
  display: inline-block;
  width: $toggleSizeS - 10px;
  height: 3px;
  background: $brand1;
  @include transition();
  @include border-radius(2em);

  @include breakpoint(bp1) {
    width: $toggleSizeM - 10px;
  }
}

.lines {
  /*create middle line*/
  @include line;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /*create the upper and lower lines 
  as pseudo-elements of the middle line*/
  &:before,
  &:after {
    @include line;
    left: 0;
    content: "";
    transform-origin: 3px center;
  }
  &:before {
    top: 8px;
  }
  &:after {
    top: -8px;
  }
}

.active .lines {
  /*hide the middle line*/
  background: transparent;

  /*overlay the lines by setting both their top values to 0*/
  &:before,
  &:after {
    transform-origin: 50% 50%;
    top: 0;
  }

  /*rotate the lines to form the x shape*/
  &:before {
    transform: rotate3d(0, 0, 1, 45deg);
    -ms-transform: rotate3d(0, 0, 1, 45deg);
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
  }
  &:after {
    transform: rotate3d(0, 0, 1, -45deg);
    -ms-transform: rotate3d(0, 0, 1, -45deg);
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
  }
}
