/* 
 * 
 * $Base - Wrappers, Containers
 *
**/

/* ==============
 * Containers
 * =============*/

html,
body {
	height: 100%;
	//  scroll-behavior: smooth;
}

/* 
 * Apply a natural box layout model to all elements, 
 * but allowing components to change 
 */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	background-color: $brand1;
}

// Main content wrapper
// - mainly for semantic reasons
.main {
	float: left;
	width: 100%;
}
