/* 
 * 
 * $Colours
 *
**/

/* 
 * Base Variables
*/

// White
$white: #fff;

// Blacks
$black: #000;

// Greys
$grey-feint: #ededed;

// Blues
$blue-heals: #31314c;

// Golds
$gold: #bb9e73;

/*
 * Brand Colours
*/

$brand1: $white;
$brand2: $black;
$brand3: $gold;
$brand4: $blue-heals;
$brand5: $grey-feint;

$error: #d10000;
